
.copyButton {
    display: inline-block;
    margin-bottom: 0.25em;
    padding: 0.125em 0.25em;
    color: #438EB4;
    text-align: center;
    text-decoration: none !important;
    border: 1px solid;
    border-color: #438EB4;
    border-radius: 4px;
    cursor: pointer;
    background-color: white;
    font-size: 14px;
    vertical-align: middle;
}

.copyButton:hover {
    color: #fff;
    background-color: #438EB4 !important;
}

.tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    opacity: 1;
    transition: opacity 0.2s ease-out;
    display: none;
}

.tooltip.fade {
    opacity: 0;
}

.paper-entry {
    /* margin-bottom: 30px; */
    font-family: Arial, sans-serif;
}
.paper-title {
    font-size: 18px;
    font-weight: bold;
    color: #820000;
    /* margin-bottom: 10px; */
}
.paper-content {
    font-size: 16px;
    display: flex;
    align-items: flex-start;
}
.paper-author {
    font-size: 16px;
}
.paper-keyword {
    font-size: 16px;
}
.left-description {
    font-size: 16px;
    flex: 3; /* Adjusts width: 3 parts for description */
    /* padding-right: 20px; */
}
.right-image {
    flex: 2; /* Adjusts width: 2 parts for image */
}
.right-image img {
    width: 100%;
    max-width: 100%; /* Ensures the image fills its container */
}

.gray-list li {
    color: #888888;         /* text color */
    margin-bottom: 0px;     /* Adjust this value to control spacing */
}
.gray-list li:last-child {
    margin-bottom: -5px;     /* Negative value to shrink spacing further */
}

code {
    font-size: 13px;
    background-color: #f5f5f580; /* Light gray background */
    padding: 2px 4px;          /* Padding around the text */
    border-radius: 3px;        /* Rounded corners */
    font-family: monospace;    /* Monospaced font for code */
    color: #666666;              /* Dark gray font color */
  }